<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="../assets/css/partners.css">
<link rel="stylesheet" href="../assets/css/loader.css">

<title>Title</title>
<style>
</style>
</head>
<body class="b">
  <div id="loader" class="center"></div>
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script>
      window.__lc = window.__lc || {};
      window.__lc.license = 12637182;
      ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
    </script>
    <noscript><a href="https://www.livechatinc.com/chat-with/12637182/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
    <!-- End of LiveChat code -->
    <div>
      <div id="txt"></div>
    <div class="container-fluid" style="height: 100vh" >
      <!-- Just an image -->
      <nav class="navbar navbar-light bg-transparent shadow-lg justify-content-between">
        <a class="navbar-brand" href="/">
          <img src="../assets/css/1.png" width="170" height="140" alt="">
        </a>
        <h1><%= time %></h1>
        <div class="">
          <a href="/Validation">
            <button class="btn btn-default rounded-pill text-white " style="background-color: #21831e; font-size:1.2rem;">Registration</button>
          </a>
          <a href="/adminlogin">
            <button class="btn btn-default rounded-pill text-white pl-4 pr-4" style="background-color: #21831e; font-size:1.2rem;">
              Admin
            </button>
          </a>
            <a href="/faq">
            <button class="btn btn-default rounded-pill text-white pl-4 pr-4" style="background-color: #21831e; font-size:1.2rem;">
              FAQ
            </button>
          </a>
        </div>
        
      </nav>
      <div class="container d-flex justify-content-between align-items-center">
        <div class="Justify-content-Center align-items-center" >
          <div class="card shadow-lg p-3 bg-transparent rounded" style="width:400px;">
            <img class="card-img-top" src="https://api.xeem.de/storage/uploads/3e71bd24-58dd-447d-beac-9952465516ed/sap-challenge.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <% if (contests.length){  %>
                <% contests.forEach((con) => { %>
                  <% if(contesthandler.check(con) === true) { %>
                    <h3 class="card-title font-weight-normal" style="color:white" id= "contestName"><%= con.contestname %></h3>
                    <img class="card-img-top" src="https://api.xeem.de/storage/uploads/b7cd7967-2aa3-4afd-9466-d0d2fc25318a/sap.jpg" alt="Card image" style="width:20%; height:30px;">
                    <h4 class=" blink_text text-center text-white mt-2 font-weight-light card shadow-lg bg-transparent p-1">Contest Starting Time <span class="font-weight-strong"> <%= con.meetingtime %></span> </h4>
                    <p>Entwickle Ideen für ein virtuelles Kollaborationstool der Zukunft</p>
                    <div class="d-flex">
                      <button class="btn btn-success" style="width:100%" data-toggle="modal" data-target="#exampleModalCenter">Login</button>
                      
                    </div>
                    <form action="/result" method="GET">
                      <button class="btn btn-success mt-2" id="statusbtn" style="width: 100%;">Show Result</button>
                    </form> 
                    <form action="/description" method="GET">
                      <button class="btn btn-success mt-2" style="width: 100%;">Description</button>
                    </form>
                    <% } %>   
                <% }) %>
              <% } %>
              
            
            </div>
          </div>
        </div>

        <div class="shadow-lg bg-transparent rounded p-2 text-white" style="border: 1px solid black; width: 300px">
          <h2 class="text-center font-weight-bold">Contests Status</h2>
          <hr class="t"><style> hr.t{border:1px solid black; width:100%}</style>
          <marquee direction="up" scrolldelay="300"> 
            <% if (contests.length){ %>
              <% contests.forEach((con) => { %>
                <% if(contesthandler.upcomingcheck(con) === true){ %>
                  <h3 class="font-weight-bold"> <%= con.contestname %> </h3>
                  <div class="d-flex flex-column justify-content-between align-items-center">
                    <small><label class="p-2 bg-success mb-3">Upcoming</label>
                      <button class="btn btn-default btn-info">View</button></small>
                  </div>
                  
                <% } else {  %>
                  <h3 clas="font-weight-bold"> <%= con.contestname %> </h3>
                  <div class="d-flex flex-column justify-content-around align-items-center">
                    <small><label class="p-2 bg-warning mb-3">Finished</label>
                      <button class="btn btn-default btn-info">View</button></small>
                  </div>
                  <% }%>
              <% }) %>
              <% } else { %>
                <h1 class="text-center font-weight-bold">No Contest Is Available</h1>
              <% } %>
            
            </marquee>
        </div>
    </div>
  </div>
      
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;text-align: center;">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <div class="modal-body" >
                <form action="/userlogin" method="POST">
                  <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                  </div>
                  <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                  </div>
                  <div class="checkbox">
                      <label><input type="checkbox" name="remember"> Remember me</label>
                  </div>
                  <a target="_blank">
                    <button type="submit" class="btn btn-primary p" style="width:100%" id="submitbtn">Submit</button>
                  </a>
                </form>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                
               

                <div id="wrong">
                </div>
            <form >

        </div>
    </div>
    </div>
    <script>
      
    </script>
    <script>
      window.onload = function initializecontest(){
        var contestName = document.getElementById('contestName').innerHTML;
        if(contestName)
          sessionStorage.setItem('ContestName', contestName);
      }
    </script>
    <script src="../assets/js/loader.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>